@model RasmedTestEngine.Website.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Reset password?";
}

<link href="~/css/pages/signin.css" rel="stylesheet" />

<div class="account-container">

    <div class="content clearfix">

        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h1>@ViewBag.Title</h1>
            <div class="login-fields">

                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="field">
                    @Html.LabelFor(m => m.Email)

                    @Html.TextBoxFor(m => m.Email, new {@class = "login username-field", placeholder = "Username"})

                </div>
                <br/>
                <div class="login-actions">

                    <input type="submit" class="btn btn-success" value="Initiate Process" style="width: 100%"/>

                </div>

                </div>
                }

            </div>
</div> 

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
