@using RasmedTestEngine.Website.Models
@model LoginViewModel
@{
    ViewBag.Title = "Member Log In";
}
<link href="~/css/pages/signin.css" rel="stylesheet" />

<div class="account-container">

    <div class="content clearfix">
        
        @using (Html.BeginForm("Login", "Account", new {ReturnUrl = ViewBag.ReturnUrl}, FormMethod.Post, new {@class = "", role = "form"}))
        {
            @Html.AntiForgeryToken()
            <h1>@ViewBag.Title</h1>
            <div class="login-fields">
                @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                <div class="field">
                    @Html.LabelFor(m => m.Email)

                    @Html.TextBoxFor(m => m.Email, new {@class = "login username-field", placeholder = "Username" })
                    @Html.ValidationMessageFor(m => m.Email, "", new {@class = "text-danger"})

                </div>
                <div class="field">
                    @Html.LabelFor(m => m.Password, new {@class = ""})

                    @Html.PasswordFor(m => m.Password, new {@class = "login password-field", placeholder = "Password" })
                    @Html.ValidationMessageFor(m => m.Password, "", new {@class = "text-danger"})

                </div>
            </div>

            <div class="login-actions">

                <span class="login-checkbox">
            
                    <input id="RememberMe" name="RememberMe" type="checkbox" class="field login-checkbox" value="" tabindex="4" />
                    <label class="choice" for="Field">Remember Me</label>
                </span>



              
                    @Html.ActionLink("Password Reset", "ForgotPassword", "", new { @class = "button btn btn-danger btn-large" })


               
                <input type="submit" value="Log in" class="button btn btn-primary btn-large" style="margin-right: 5px"/>

     
            </div>
        }



    </div> <!-- /content -->

</div> <!-- /account-container -->


    


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}